{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'students/styles.css' %}">
</head>
<body>

  <header class="header">
    <a href="" class="logo">ManageBetter</a>
    <nav class="navbar">
      {% if user.is_authenticated %}
          <a href="">Assignments</a>
          <a href="">Grades</a>
          <a href="">Account</a>
          <a href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </nav>
  </header>


  {% block body %}
  {% endblock %}

</body>
</html>